<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath=".\Api.exe"
                stdoutLogEnabled="false"
                stdoutLogFile=".\logs\stdout">
      <environmentVariables>
        <environmentVariable name="DD_ENV" value="development"/>
        <environmentVariable name="DD_SERVICE" value="aspnetcoreframework-example"/>
        <environmentVariable name="DD_VERSION" value="0.0.1"/>
      </environmentVariables>
    </aspNetCore>
  </system.webServer>

</configuration>